---
import './src/styles/global.css';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <head>
        <title>Inicio - Mi Portafolio</title>
    </head>
    <header>
        <Nav />
    </header>
</Layout>
