---
import './src/styles/global.css';
---

<nav class="h-10 w-5/6 bg-[#FFB4A2] mx-auto text-center flex justify-between">
    <a href="#">Home</a>
    <a href="#">Studies</a>
    <a href="#">Proyects</a>
    <a href="#">Contact Me</a>
</nav>